@import "tailwindcss" important;

@theme {
  --color-deep-purple: #27013D;
  --color-neon-pink: #EA00FF;
  --color-royal-purple: #4A0572;
  --color-dark-violet: #32004F;
  --color-soft-cream: #FEF8F0;
  --color-light-gray: #D9D9D9;
  --color-pure-white: #FFFFFF;
  --color-warm-white: #FFFFE2;
  --color-white: #FFFFFF;
  --color-black: #000000;
}