@use "../utils/variables" as *;
@use "../utils/mixins" as *;

*,
*::after,
*::before {
  box-sizing: border-box;
  user-select: none;
}

html, body {
  line-height: 1;
  font-family: $font-quintessential !important;
  background-color: $color-soft-cream;
  color: $color-black;  
  scroll-behavior: smooth;
  height: auto;
  $vw: 100vw; 
  font-size: calc($vw / 1440px * 16px);

  @media (max-width: 768px) {
    font-size: calc($vw / 750px * 18px);
    overflow-x: hidden;
  }

  @media (max-width: 500px) {
    font-size: calc($vw / 500px * 18px);
  }
}

$vw: 100vw;

h1 {
  $vw: 100vw;
  font-size: calc($vw / 1440px * 80px);

  &.lg {
    font-size: calc($vw / 1440px * 170px);
  }

  @media (max-width: 768px) {
    font-size: calc($vw / 750px * 32px);

    &.lg {
      font-size: calc($vw / 750px * 38px);
    }
  }
}

h2 {
  $vw: 100vw;
  font-size: calc($vw / 1440px * 64px);

  &.lg {
    font-size: calc($vw / 1440px * 88px);
  }

  @media (max-width: 768px) {
    font-size: calc($vw / 750px * 32px);

    &.lg {
      font-size: calc($vw / 750px * 24px);
    }
  }
}

h3 {
  $vw: 100vw;
  font-size: calc($vw / 1440px * 50px);

  &.lg {
    font-size: calc($vw / 1440px * 60px);
  }

  @media (max-width: 768px) {
    font-size: calc($vw / 750px * 24px);

    &.lg {
      font-size: calc($vw / 750px * 28px);
    }
  }
}

h4 {
  $vw: 100vw;
  font-size: calc($vw / 1440px * 40px);

  &.lg {
    font-size: calc($vw / 1440px * 48px);
  }

  @media (max-width: 768px) {
    font-size: calc($vw / 750px * 32px);

    &.lg {
      font-size: calc($vw / 750px * 32px);
    }
  }
}

h5 {
  $vw: 100vw;
  font-size: calc($vw / 1440px * 32px);

  &.alt {
    font-size: calc($vw / 1440px * 24px);
  }

  @media (max-width: 768px) {
    font-size: calc($vw / 750px * 20px);

    &.alt {
      font-size: calc($vw / 750px * 24px);
    }
  }
}

h6 {
  $vw: 100vw;
  font-size: calc($vw / 1440px * 25px);

  &.small {
    font-size: calc($vw / 1440px * 22px);
  }

  @media (max-width: 768px) {
    font-size: calc($vw / 750px * 18px);

    &.small {
      font-size: calc($vw / 750px * 18px);
    }
  }
}

p {
  $vw: 100vw;
  font-size: calc($vw / 1440px * 18px);

  &.lg {
    font-size: calc($vw / 1440px * 20px);
  }

  @media (max-width: 768px) {
    font-size: calc($vw / 750px * 18px);

    &.lg {
      font-size: calc($vw / 750px * 20px);
    }
  }
}

a {
  color: inherit;
  text-decoration: none;
  outline: none;
}

img {
  vertical-align: middle;
}

input, textarea {
  border: none;
  border-bottom: 1px solid $color-warm-white;
  width: 100%;
  padding: 12px;
  color: $color-warm-white;
  font-family: $font-urbanist;
  $vw: 100vw;
  font-size: calc($vw / 1440px * 18px);
  background: transparent;

  @media (max-width: 768px) {
    font-size: calc($vw / 750px * 20px);
  }

  @media (max-width: 500px) {
    font-size: calc($vw / 500px * 20px);
  }

  &[type='file'] {
    width: 30%;

    @media (max-width: 500px) {
      width: 70%;
    }
  }
}

button {
  color: $color-white;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  &.white {
    background-color: $color-warm-white;
  }
}

.desktop {
  display: auto !important;

  @media (max-width: 768px) {
    display: none !important;
  }
}

.phone {
  display: none !important;

  @media (max-width: 768px) {
    display: block !important;
  }
}

.deep-purple {
  color: $color-deep-purple;
}

.neon-pink {
  color: $color-neon-pink;
}

.soft-cream {
  color: $color-soft-cream;
}
